<div class="card">
    <h6 class="card-header mg-b-0 bd-b-0">Merge Form</h6>
    <div class="card-body">
        <table class="table mg-b-0 mx-auto" style="width: auto">
            <thead>
                <tr>
                    <th></th>
                    <th style="min-width: 300px">Upload Data</th>
                    <th style="min-width: 300px">Master Data</th>
                    <th style="min-width: 150px" class="tx-right">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Photo</th>
                    <td><img class="photo" src="./assets/img/sample.jpg"></td>
                    <td><img class="photo" src="./assets/img/sample.jpg"></td>
                    <td></td>
                </tr>
                <tr>
                    <th>NPWP</th>
                    <td><input type="radio"> 123 123 123</td>
                    <td><input type="radio"> 123 123 123</td>
                    <td class="tx-right">123</td>
                </tr>
                <tr>
                    <th>NIK</th>
                    <td><input type="radio"> 123 123 123</td>
                    <td><input type="radio"> 123 123 123</td>
                    <td class="tx-right">123</td>
                </tr>
                <tr>
                    <th>Full Name</th>
                    <td><input type="radio"> Tes</td>
                    <td><input type="radio"> Tes</td>
                    <td class="tx-right">123</td>
                </tr>
                <tr>
                    <th>Place of Birth</th>
                    <td><input type="radio"> Tes</td>
                    <td><input type="radio"> Tes</td>
                    <td class="tx-right">123</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td><input type="radio"> Tes</td>
                    <td><input type="radio"> Tes</td>
                    <td class="tx-right">123</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input type="radio"> Tes</td>
                    <td><input type="radio"> Tes</td>
                    <td class="tx-right">123</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-center">
        <button class="btn btn-primary tr-btn-form">Merge</button>
        <button class="btn btn-danger tr-btn-form">Cancel</button>
    </div>
</div>