<div class="card">
    <div class="card-body">
        <img src="assets/img/logo.png">
        <form #formAuth="ngForm" (ngSubmit)="login(formAuth)">
            <div class="form-group">
                <label for="username" class="d-block">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username"
                    required ngModel>
            </div>
            <div class="form-group">
                <label for="password" class="d-block">Password</label>
                <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter your password" required ngModel>
            </div>
            <button class="btn btn-primary pd-y-5 pd-x-50" type="submit" [disabled]="!formAuth.valid">Login</button>
        </form>
    </div>
</div>