<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Account Settings</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
        </ol>
    </nav>
</div>
<form class="card" [formGroup]="formAccountSettings" (ngSubmit)="submit()">
    <h6 class="card-header">Form Account Settings</h6>
    <div class="card-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Enter your name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Enter your username"
                formControlName="username">
        </div>
        <div class="form-group">
            <label for="lastPassword">Password</label>
            <input type="password" id="lastPassword" class="form-control" placeholder="Enter your password"
                formControlName="lastPassword">
        </div>
        <button class="btn btn-primary mg-b-10" type="button" data-toggle="collapse" data-target="#changePassword"
            aria-expanded="false" aria-controls="changePassword">
            Change Password
        </button>
        <div class="collapse" id="changePassword">
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" class="form-control" placeholder="Enter your new password"
                    formControlName="newPassword">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control"
                    placeholder="Re enter your new password" formControlName="confirmPassword"
                    [ngClass]="{'bd-danger': formAccountSettings.hasError('newPasswordNotMatch')}">
                <small class="tx-danger" *ngIf="formAccountSettings.hasError('newPasswordNotMatch')">
                    New password not match
                </small>
            </div>
        </div>
    </div>
    <div class="card-footer tx-right">
        <button class="btn btn-primary" type="submit" [disabled]="!formAccountSettings.valid">Submit</button>
    </div>
</form>